@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2c3691;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3rem !important;
  font-weight: bold;
}

h2 {
  font-size: 1.8rem !important;
  font-weight: bold;
}

input {
  border: 1px solid black;
}

button {
  background-color: #2c3691;
  color: white !important;
}